<div class="alert alert-error">
	<h4>只允许修改level值</h4>
</div>
<form action="/server/?a=level_update" class="form-inline"  id="level_modify_form" method="post">
Teacher_id：<label class="btn-success">"<?=$teacher_id?>"</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Client_name：<label class="btn-success">"<?=$client_name?>"</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input name="client_name" value="<?=$client_name?>" type="hidden" />
	<input name="teacher_id" value="<?=$teacher_id?>" type="hidden" />
	<input type="txt" class="input-small" name="level" placeholder="权限值level">
	<input type="button" value="确认" class="btn" onclick="send_form_in('level_modify_form');"/>
</form>